
body{
	background:url(https://cdn.dribbble.com/users/61715/screenshots/1570276/attachments/241325/plume.png);
	background-size: cover;
}
.NUL{
	float: left;
	width: 200px;
	list-style: none;
	position: relative;
	left: 100px;
}
a{	
	font-weight: bold;
	color: #ffffffd7;
	font-size: 25px;
	text-decoration: none;
}
.avatar {
	text-align: center;
	padding: 15px 0;
}
.avatar img {
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, .1);
}
.avatar h1 {
	color: rgb(255, 255, 255);
	font-size: 32px;
	text-transform: uppercase;
	margin: 15px 0 0;
}
.avatar h4 {
	color: rgb(255, 255, 255);
	margin: 15px 0 15px;
	font-size: 22px;
}

.column1 {
	color: rgb(255, 255, 255);
	display: table-cell;
	position: relative;
	font-size: 20px;
	left: 270px;
	width: 300px;
	background-color: #79828563;
}
.column2 {
	color: rgb(255, 255, 255);
	display: table-cell;
	position: relative;
	font-size: 20px;
	left: 312px;	
	width: 300px;
	background-color: #79828563;
}
.column3 {
	color: rgb(255, 255, 255);
	display: table-cell;
	position: relative;
	font-size: 20px;
	left: 350px;
	width: 300px;
	background-color: #79828563;
}
li{
	margin: 0 0 10px;
}
.lalala1{
	float: left;
	width: 1000px;
	height: 250px;
    color: rgb(255, 255, 255);
	background-color: #79828563;
	margin: 20px 262px 10px;
}
.lalala2{
	float: left;
	width: 1000px;
	height: 250px;
    color: rgb(255, 255, 255);
	background-color: #79828563;
	margin: 20px 262px 10px;
}
.lalala3{
	float: left;
	width: 1000px;
	height: 250px;
    color: rgb(255, 255, 255);
	background-color: #79828563;
	margin: 20px 262px 10px;
}
h2{
	text-align: center;
}
.UpPage{
	position: fixed;
	right: 10px;
	bottom: 10px;
}
footer{
	color: rgb(255, 255, 255);
	font-size: 30px;
	text-align: center;
}