<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ban co dong y</title>
    <link rel="stylesheet" href="syll.css" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <button type="submit">
                    <a href="/">vào đây để về trang chủ</a>
                </button>
                <button type="submit">
                    <a href="/ask">vào đây để hỏi</a>
                </button>
                {{!-- <br /><br /><br /> --}}
            </ul>
        </nav>
    </header>

    {{{body}}}
</body>

</html>